.jumbotron {
    padding: 40px 30px 40px 30px;
    margin: 0px auto;
    background:  #2276e3 ;
}

#search {
    color: white;
}

.searchButton {
    text-align: center;
}

.nav-custom-items {
    color: white;
}

.welcome {
    padding-right: 30px;
    font-weight: bold;
}

.nav-custom-items {
    color: white;
}

img {
    height: auto;
    width: 100%;
}

/* .hotel-list {

} */